.logincard {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logincard h2 {
    margin-bottom: 2rem;
    color: #2c3e50;
    font-family: sans-serif;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

input {
    background-color: hsl(0, 0%, 96%);
    color: black;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 2rem;
    font-size: large;
    outline: none;
    transition: border-color 0.3s;
}
input:focus {
    border-color: red; /* El color lila de Vite */
}

button {
    padding: 0.8rem;
    background-color: red;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: lab(42.6% 62.23 44.45);
}